    body {
    margin: 0px;
    }
    
    /* ! grid: 2차원 형태의 레이아웃 시스템을 제공해주는 display */
    .grid-container {
        height: 1200px;
    
        background-color: rgba(0, 0, 0, 0.5);
    
        display: grid;
    
        /* ! grid-template-columns / grid-template-rows */
        /* ! 그리드의 열과 행의 갯수와 사이즈를 지정 */
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 200px 1fr 100px; */
    
        /* ! grid-template-areas: 그리드 영역의 이름으로 지정 */
        /* grid-template-areas: 
        "header header header"
        "main main sidebar"
        "footer footer footer"; */
    
        /* ! grid-template: */
        /* ! grid-template-columns + grid-template-rows + grid-template-areas */
        grid-template:
        "header header header" 100px
        "main main sidebar" 1fr
        "footer footer footer" 200px
        / 1fr 1fr 300px;
    }
    
    .grid-item-1 {
        /* ! grid-column / grid-row */
        /* ! 그리드의 아이템의 열 및 행의 위치를 지정하는 단축 속성 */
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    
        background-color: rgba(255, 0, 0, 0.5);
    }
    
    .grid-item-2 {
        grid-column: 2 / 7;
        grid-row: 1 / 1;
    
        background-color: rgba(0, 255, 0, 0.5);
    }
    
    .grid-item-header {
        grid-area: header;
    
        background-color: rgba(255, 0, 0, 0.5);
    }
    
    .grid-item-main {
        grid-area: main;
    
        background-color: rgba(0, 255, 0, 0.5);
    }

    @media screen and (max-width: 800px) {
        .grid-container {
            height: 1200px;

            background-color: rgba(0, 0, 0, 0.5);
            
            display: grid;

            grid-template:
            "header" 100px
            "sidebar" 50px
            "main" 1fr
            "footer" 200px   / 1fr;
        }    
    }